@use '../../scss/' as *;

.listItem {
    background-color: var( --black-2 );
    border-radius: var( --border-radius );
    cursor: pointer;
    gap: .5rem;
    padding: 0 .5rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    @include h-w( 4rem, 100% );
    @include transition;
    &:hover {
        background-color: var( --black-3 );
    }
    .image {
        background-color: var( --black-3 );
        border-radius: var( --border-radius );
        overflow: hidden;
        @include h-w(3rem, 3rem);
        img {
            object-fit: cover;
            @include h-w; // (100%, 100%)
        }
    }
    .info {
        @include flex(column, center, flex-start);
        h4 {
            color: var( --text-color1 );
            @include truncate-text;
        }
        p { 
            color: var( --text-color2 ); 
            font-size: 1rem;
            @include truncate-text;
        }
    }
    .tone {        
        font-size: .8rem;
        color: var( --primary );
        font-weight: bold;
        @include truncate-text;
    }
}