@use './scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');


:root {
    --primary: #39ffa0;
    --font-family: 'Inter', sans-serif;
    --text-color1: #fff;
    --text-color2: #555;
    --text-color3: #ccc;
    --background: #111;
    --background-2: #222;
}

* {
    @include reset-pm;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--background);
    font-family: var(--font-family);
    a { text-decoration: none; }
}

/*
****    Redirect Main
*/
.redirect-container {
    height: 90vh;
    @include container;
    @include flex;
    .info {
        text-align: center;
        background-color: var(--background-2);
        border-radius: 1rem;
        color: var(--text-color1);
        @include h-w(20rem, 100%);
        @include flex();
        h1 {
            margin-bottom: 2rem;
        }
        p {
            background-color: var(--primary);
            border-radius: 1rem;
            color: #111;
            padding: 1rem;
            @include flex();
            @include h-w(3rem, 100%);
            @include transition;
            &:hover {
                opacity: 90%;
            }
        }
    }
}