

@mixin reset-pm {
    padding: 0;
    margin: 0;
}
@mixin h-w($height: 100%, $width: 100%) {
    height: $height;
    width: $width;
}


@mixin zigzag-pattern ( $color: #fff ) {
    background:
        linear-gradient(135deg, $color 25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, $color 25%, transparent 25%) -50px 0,
        linear-gradient(45deg, $color 25%, transparent 25%),
        linear-gradient(-45deg, $color 25%, transparent 25%);
    background-size: 100px 100px;
}


@mixin dots-pattern ($dots-color: var(--primary), $bg-color: var(--black-1), $dot-size: 2px, $dot-space: 60px){
    background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dots-color;
background-size: $dot-space $dot-space;    
}





@mixin flex($dir: column, $just: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin container {
    max-width: 1100px;
    margin: auto;
}




@mixin truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@mixin grid ($value, $fr : 1fr, $gap : 1rem) {
    display: grid;
    grid-template-columns: repeat($value, $fr);
    gap: $gap;
}



@mixin transition ( $type : all ) {
    transition: $type .3s ease-in-out;
}

@mixin responsive($size: 768px){
    @media screen and (min-width: $size){
        @content
    }
};